body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}


#map{
    height: 100vh;
    width: 100%;
}

#heading{
    position: absolute;
    z-index: 100;
    font-size: 88px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    top: 80px;
    left: 85px;
}

.search-container{
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 105px;
    height: 60px;
    width: 400px;
    background-color: #454E53;
    border-radius: 30px;
    display: flex;
}
.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search-container input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: none;
}
.search-container input:focus{
    outline: none;
}

.search i{
    font-size: 40px;
    color: white;
}

.sotres-list-container{
    position: absolute;
    width: 400px;
    bottom: 20px;
    background-color: white;
    z-index: 100;
    top: 300px;
    left: 100px;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
    overflow-y: scroll;
}

.store-list{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 30px;
}
.store-list .store-adress{
    font-size: 25px;
    height: 94px;
    line-height: 40px;
}

.store-list .store-phone-number{
    font-size: 20px;
    margin-bottom: 15px;
    color: #B5ADAD;
}

.sotres-list-container .hr{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

 .store-container:hover{
    box-shadow: 0px 0px 10px;
    background-color:rgba(69, 78, 83, 0.864);
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.store-number{
    width: 30px;
    height: 30px;
    background-color: #454E53;
    color: #B5ADAD;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.store-add-info{
    flex-grow: 1;
}

.store-info-window{
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}
.store-info-name{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,.87);
}
.store-info-status{
    margin-top: 5px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    font-size: 15px;
}
.store-info-address,.store-info-phone{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #1985A1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.search i{
    cursor: pointer;
}